<%- include('/header') %>

<ul>
  <li><a href="/widgets/react-hello-world">React Hello World</a></li>
  <li><a href="/widgets/table">Table</a></li>
  <li><a href="/widgets/extended-select">Extended select</a></li>
  <li><a href="/widgets/image-gallery">Image gallery</a></li>
</ul>

<%- include('/footer') %>
