table {
    border-collapse: collapse;
    th, td {
        border: 1px solid black;
    }
}

th, td {
    padding: 4px;
}

.form-fields-container {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    padding: 10px 0px;
    align-items: center;
}

.form-toolbar {
    display: flex;
    a {
        width: 240px;
    }
}

.image-gallery {

    .image-gallery-toolbar {
    }

    .image-gallery-tagger {
    }

    .image-gallery-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 200px);
        gap: 10px;
        margin: 10px 0;
        justify-content: space-evenly;

        .image-gallery-item {
            .img-container {
                width: 100%;
                height: 200px;
                position: relative;
                box-sizing: border-box;
                border: 4px solid transparent;
                cursor: pointer;
                &.img-container-selected {
                    border: 4px solid gold;
                    background-color: yellow;
                }

                // https://stackoverflow.com/questions/35361986/css-gradient-checkerboard-pattern
                // background-image: linear-gradient(45deg, lightgrey 25%, transparent 25%), linear-gradient(-45deg, lightgrey 25%, transparent 25%), linear-gradient(45deg, transparent 75%, lightgrey 75%), linear-gradient(-45deg, transparent 75%, lightgrey 75%);
                // background-size: 20px 20px;
                // background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            .image-gallery-item-description {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                height: 4em;
            }
        }
    }
}

.image-viewer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .img-container {
        width: 100%;
        img {
            max-width: 100%;
            image-orientation: from-image;
        }
    }
}

#chat-form {
    #message-area {
        height: 16em;
        border: 1px solid black;
        padding: 10px;
        overflow-y: scroll;
        word-wrap: break-word;
    }

    li {
        list-style: none;
    }
}

.extended-select-container {
    position: relative;

    .extended-select-input-container {
        display: inline-block;
        .extended-select-dropdown {
            position: absolute;
            list-style: none;
            margin: 0;
            padding: 0;
            background: white;
            border: 1px solid black;
            min-width: 200px;

            .extended-select-dropdown-suggestions {
                cursor: pointer;
                user-select: none;
                -moz-user-select: none;
                &.extended-select-dropdown-suggestions-selected {
                    background: lightgrey;
                }
            }
        }
    }
}

$spinner-size: 1.5em;
@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spinner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 $spinner-size;

    &::before {
        animation: 2s linear infinite spinner;
        position: absolute;
        content: "";
        height: $spinner-size;
        width: $spinner-size;
        box-sizing: border-box;
        border: solid 3px lightgrey;
        border-bottom-color: black;
        border-radius: 50%;
    }
}
