<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
  </head>
  <body>
    <p>Header</p>
    <p>
      <a href="/">Home</a>
      <a href="/contacts">Contacts</a>
      <a href="/contacts/birthdays">Birthdays</a>
      <a href="/widgets">Widgets</a>
      <a href="/filestore">Files</a>
      <a href="/filestore/images">Images</a>
      <a href="/chat">Chat</a>
    </p>
    <h1><%= title %></h1>
