<%- include('/header') %>

<form id="chat-form" action="">
  <ul id="message-area" ></ul>
  <input autocomplete="off" />
  <button>Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>

<%- include('/footer') %>
