<%- include('/header') %>

<p>
  <a href="https://reactjs.org/docs/add-react-to-a-website.html"
     target="_blank"
     rel="noopener noreferrer">
    https://reactjs.org/docs/add-react-to-a-website.html
  </a>
</p>

<div id="like_button_container"></div>

<%- include('/footer') %>
